<h1 style="color: black"> {{title}}</h1>

<form>
  <div class="inscription">
  <label for="firstNam">Prenom:</label>
  <input id="firstNam" name="firstNam" type="text" [(ngModel)]="firstname" >

  <label for="lastName">Nom:</label>
  <input id="lastName" name="lastName" type="text" [(ngModel)]="lastname" >

  <label for="email">Email:</label>
  <input id="email" name="email" type="text" [(ngModel)]="email" >

  <label for="password">Password:</label>
  <input id="password" name="password" type="text" [(ngModel)]="password" >



  </div>

  <div class="button">
  <button type="submit" (click)="submitForm()">s'inscrire</button>
  </div>
</form>

<router-outlet></router-outlet>




